/*Styles for all pages*/

:root {
    --primary-color: #d2d4db;
    --secondary-color: #a5a9ba;
    --accent-1: #103834;
    --accent-2: #8284aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
}

/*Header styles*/

header {
    margin: 1rem;
    background: var(--secondary-color);
    border: 1px solid black
}

header img {
    margin: 1rem;
    float: left;
    border: 1px solid black
}

/*Page links styles*/

.navigation {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10cap;
    padding: 85px;
}

.navigation a {
    display: block;
    color: navy;
    font-family: Stylish, serif;
    padding: 20px;
    text-decoration: none;
    background-color: var(--accent-2);
    border: 1px solid black;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: none;
}

/*About page styles*/

.hero {
    position: relative;
}

.hero img {
    margin: 1rem;
    width: 98.5%;
}

.hero .h1background {
    position: absolute;
    top: 10%;
    display: block;
    width: 98.5%;
    height: 7%;
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--accent-2);
    opacity: 0.7;
}

.hero h1 {
    position: absolute;
    top: 14.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Knewave, serif;
    color: var(--accent-1);
}

.hero .articlebackground {
    position: absolute;
    top: 25%;
    display: block;
    width: 98.5%;
    height: 45%;
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--accent-2);
    opacity: 0.7;
}

.hero article {
    width: 1500px;
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    position: absolute;
    top: 0.1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-1);
    font-family: Knewave, serif;
    font-size:xx-large;
}

.articletext {
    display: block;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--accent-2);
    font-family: Stylish, serif;
    font-size: x-large;
    color: navy;
}

.history {
    margin: 1rem;
    display: block;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.history h2 {
    margin: 1rem;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    font-family: Knewave, serif;
    color: var(--accent-1);
}

.imgbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.imgbox p {
    display: block;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 800px;
    background-color: var(--accent-2);
    font-family: Stylish, serif;
    color: navy;
    font-size:x-large;
}

.adventure {
    margin: 1rem;
    display: block;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.adventure h2 {
    margin: 1rem;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    font-family: Knewave, serif;
    color: var(--accent-1);
}

.adventureimg {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adventureimg img {
    width: 400px;
}

/*Contact page styles*/

.contacttitle {
    margin: 1rem;
    text-align: center;
    font-family: Knewave, serif;
    color: var(--accent-1)
}

form {
    width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--accent-1);
    font-size: 1.3rem;
    font-family: Knewave, serif;
}

label, input, button, textarea {
    font-family: Stylish, serif;
    color: navy;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--accent-2);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--accent-1);
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column2 label {
    text-align: right;
    padding-right: 1rem;
}

.column1 h3{
    margin-bottom: 1rem;
    font-family: Stylish, serif;
    font-weight: 500;
    color: navy;
}

input[type="radio"] {
    display: inline-block;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    border: 0.15em solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }

.employeephotos {
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
}

.firstemployee img {
    margin: 1rem;
    border: 1px solid black;
}

.secondemployee img {
    margin: 1rem;
    border: 1px solid black;
}

.thirdemployee img {
    margin: 1rem;
    border: 1px solid black;
}

.firstemployee p {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-family: Stylish, serif;
    color: var(--accent-1);
    text-align: center;
    display: block;
    border: 1px solid black;
    background-color: var(--accent-2);
}

.secondemployee p {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-family: Stylish, serif;
    color: var(--accent-1);
    text-align: center;
    display: block;
    border: 1px solid black;
    background-color: var(--accent-2);
}

.thirdemployee p {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-family: Stylish, serif;
    color: var(--accent-1);
    text-align: center;
    display: block;
    border: 1px solid black;
    background-color: var(--accent-2);
}

.firstemployee p:hover {
    color: red;
}

.secondemployee p:hover {
    color: red;
}

.thirdemployee p:hover {
    color: red;
}

.companyinfo {
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.addresses {
    margin: 1rem;
}

.addresses p {
    margin: 0.5rem;
    padding: 1rem;
    display: block;
    border: 1px solid black;
    font-family: Stylish, serif;
    color: var(--accent-1);
    background-color: var(--accent-2)
}

.map {
    margin: 1rem;
    border: 1px solid black;
}

/*Footer styles*/

footer {
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.trademark {
    font-family: Stylish, serif;
    text-align: center;
    margin-top: 1rem;
    color: navy;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
.sociallinks a {
    text-decoration: none;
    transform: scale(0.5);
}

.sociallinks a:hover {
    transform: scale(0.7);
}