/*Styles for all pages*/

:root {
    --primary-color: #d2d4db;
    --secondary-color: #a5a9ba;
    --accent-1: #103834;
    --accent-2: #8284aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
}

/*Header styles*/

header {
    margin: 1rem;
    background: var(--secondary-color);
    border: 1px solid black
}

header img {
    margin: 1rem;
    float: left;
    border: 1px solid black
}

/*Page links styles*/

.navigation {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10cap;
    padding: 85px;
}

.navigation a {
    display: block;
    color: navy;
    font-family: Stylish, serif;
    padding: 20px;
    text-decoration: none;
    background-color: var(--accent-2);
    border: 1px solid black;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: none;
}

/*Home page styles*/

.home-hero img {
    position: relative;
    margin: 1rem;
    width: 98.5%;
}

.welcomebackground {
    position: absolute;
    top: 40%;
    display: block;
    margin: 1rem;
    border: 1px solid black;
    width: 98.5%;
    height: 150px;
    background-color: var(--accent-2);
    opacity: 0.7;
}

.home-hero h1 {
    position: absolute;
    top: 45%;
    margin: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 70px;
}

.newsletter {
    margin: 1rem;
    display: block;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.newsletter fieldset {
    margin: 1rem;
    background-color: var(--accent-2);
}

.newsletter legend {
    margin-left: 1rem;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 40px;
}

.newsletter .entername {
    margin: 1rem;
    font-family: Stylish, serif;
    color: navy;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px 10px;
    margin-right: 400px;
}
.newsletter .enteremail {
    margin: 1rem;
    font-family: Stylish, serif;
    color: navy;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px 10px;
    margin-right: 400px;
}

.newsletter .enterphone {
    margin: 1rem;
    font-family: Stylish, serif;
    color: navy;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px 10px;
    margin-right: 400px;
}

.helpfultip {
    margin: 1rem;
    display: block;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.helpfultip p {
    padding: 1rem;
    font-family: Stylish, serif;
    color: navy;
    font-size: 20px;
}

.newsletter button {
    margin: 1rem;
    background-color: var(--accent-2);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.newsletter button:hover {
    background-color: var(--accent-1);
}

.bookatrip {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid black;
    background-color: var(--secondary-color);
    width: 50%;
    height: 300px;
}

.bookatrip h1 {
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 40px;
}

.bookatrip a {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-family: Stylish, serif;
    color: navy;
    text-decoration: none;
    border: 1px solid black;
    background-color: var(--accent-2);
    font-size: 50px;
}

.bookatrip a:hover {
    color: red;
}

.homepictures {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    align-items: center;
}

.homepictures p {
    display: block;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--accent-2);
    color: navy;
    font-family: Stylish, serif;
    font-size: 20px;
}

.homecontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*About page styles*/

.about-hero img {
    margin: 1rem;
    width: 98.5%;
}

.about-hero .h1background {
    position: absolute;
    top: 30%;
    display: block;
    width: 98.5%;
    height: 7%;
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--accent-2);
    opacity: 0.7;
}

.about-hero h1 {
    position: absolute;
    top: 34.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Knewave, serif;
    color: var(--accent-1);
    font-size: 70px;
}

.about-hero .articlebackground {
    position: absolute;
    top: 45%;
    display: block;
    width: 98.5%;
    height: 45%;
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--accent-2);
    opacity: 0.7;
}

.about-hero article {
    width: 1500px;
    position: absolute;
    top: 68.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.about-hero h2 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-1);
    font-family: Knewave, serif;
    font-size: 50px;
}

.articletext {
    display: block;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--accent-2);
    font-family: Stylish, serif;
    font-size: x-large;
    color: navy;
}

.history {
    margin: 1rem;
    display: block;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.history h2 {
    margin: 1rem;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    font-family: Knewave, serif;
    color: var(--accent-1);
}

.imgbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.imgbox p {
    display: block;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 800px;
    background-color: var(--accent-2);
    font-family: Stylish, serif;
    color: navy;
    font-size:x-large;
}

.adventure {
    margin: 1rem;
    display: block;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.adventure h2 {
    margin: 1rem;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    font-family: Knewave, serif;
    color: var(--accent-1);
}

.adventureimg {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adventureimg img {
    width: 400px;
}

/*Trips page styles*/

.tripstitle {
    margin: 1rem;
    text-align: center;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 30px;
}

.tripsinfo {
    display: block;
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.tripsinfo .questions {
    float: left;
    display: block;
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--accent-2);
    width: 500px;
    height: 200px;
    margin-left: 3.5%;
    margin-top: 10%;
}

.tripsinfo .questions h2 {
    padding: 1rem;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    text-align: center;
}

.tripsinfo .questions a {
    display: block;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    font-family: Stylish, serif;
    color: navy;
    text-decoration: none;
    background-color: var(--secondary-color);
    font-size: 20px;
}

.tripsinfo .questions a:hover {
    color: red;
}

.tripimages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    margin-left: 30%;
}

.img1 {
    margin: 1rem;
}

.img1 h3 {
    text-align: center;
    width: 600px;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 25px;
}

.img1 p {
    text-align: center;
    width: 600px;
    font-family: Stylish, serif;
    color: navy;
    font-size: 20px;
}

.img2 {
    margin: 1rem;
}

.img2 h3 {
    text-align: center;
    width: 500px;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 25px;
}

.img2 p {
    text-align: center;
    width: 500px;
    font-family: Stylish, serif;
    color: navy;
    font-size: 20px;
}

.img3 {
    margin: 1rem;
}

.img3 h3 {
    text-align: center;
    width: 500px;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 25px;
}

.img3 p {
    text-align: center;
    width: 500px;
    font-family: Stylish, serif;
    color: navy;
    font-size: 20px;
}

.img4 {
    margin: 1rem;
}

.img4 h3 {
    text-align: center;
    width: 600px;
    font-family: Knewave, serif;
    font-weight: 100;
    color: var(--accent-1);
    font-size: 25px;
}

.img4 p {
    text-align: center;
    width: 600px;
    font-family: Stylish, serif;
    color: navy;
    font-size: 20px;
}

/*Contact page styles*/

.contacttitle {
    margin: 1rem;
    text-align: center;
    font-family: Knewave, serif;
    color: var(--accent-1)
}

.contactinfo {
    width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
}

.contactinfo fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

.contactinfo legend {
    padding: 0.5rem;
    color: var(--accent-1);
    font-size: 1.3rem;
    font-family: Knewave, serif;
}

.contactinfo label, input, button, textarea {
    font-family: Stylish, serif;
    color: navy;
}

.contactinfo input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.contactinfo input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.contactinfo button {
    margin: 1rem;
    background-color: var(--accent-2);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.contactinfo button:hover {
    background-color: var(--accent-1);
}

.contactinfo .form-item {
    display: grid;
    align-items: center;
}

.contactinfo .column2 {
    grid-template-columns: 1fr 2fr;
}

.contactinfo .column2 label {
    text-align: right;
    padding-right: 1rem;
}

.contactinfo .column1 h3{
    margin-bottom: 1rem;
    font-family: Stylish, serif;
    font-weight: 500;
    color: navy;
}

.contactinfo input[type="radio"] {
    display: inline-block;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    border: 0.15em solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.employeephotos {
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
}

.firstemployee img {
    margin: 1rem;
    border: 1px solid black;
}

.secondemployee img {
    margin: 1rem;
    border: 1px solid black;
}

.thirdemployee img {
    margin: 1rem;
    border: 1px solid black;
}

.firstemployee h3 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-family: Stylish, serif;
    color: var(--accent-1);
    text-align: center;
    display: block;
    border: 1px solid black;
    background-color: var(--accent-2);
}

.secondemployee h3 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-family: Stylish, serif;
    color: var(--accent-1);
    text-align: center;
    display: block;
    border: 1px solid black;
    background-color: var(--accent-2);
}

.thirdemployee h3 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-family: Stylish, serif;
    color: var(--accent-1);
    text-align: center;
    display: block;
    border: 1px solid black;
    background-color: var(--accent-2);
}

.firstemployee p:hover {
    color: red;
}

.secondemployee p:hover {
    color: red;
}

.thirdemployee p:hover {
    color: red;
}

.companyinfo {
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.addresses {
    margin: 1rem;
}

.addresses h3 {
    margin: 0.5rem;
    padding: 1rem;
    display: block;
    border: 1px solid black;
    font-family: Stylish, serif;
    color: var(--accent-1);
    background-color: var(--accent-2)
}

.map {
    margin: 1rem;
    border: 1px solid black;
}

/*Footer styles*/

footer {
    margin: 1rem;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.trademark {
    font-family: Stylish, serif;
    text-align: center;
    margin-top: 1rem;
    color: navy;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
.sociallinks a {
    text-decoration: none;
    transform: scale(0.5);
}

.sociallinks a:hover {
    transform: scale(0.7);
}

#contactfooter {
    margin: 1rem;
}

#contactfooter a {
    color: navy;
    text-decoration: none;
}

#contactfooter a:hover {
    color: red;
}

#tripsfooter {
    margin: 1rem;
}

#tripsfooter a {
    color: navy;
    text-decoration: none;
}

#tripsfooter a:hover {
    color: red;
}